h1{
    color: aqua;
    background-color: brown;
}












/*
html,body{
    background-color: black;
    height: 100%;
}
.container{
    margin: 2% 2% 2% 2%;
    height: 100%;
    width: 100%;
    background-color: black;
}
.header h3{
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
    height: 10%;
    background-color: aqua;
    text-align: center;
    font-size: 8vh;
}
.mainContent{
    margin: 1%;
    height: 90%;
    background-color: dimgrey;
}
.gamediv{
    margin: 10% 10% 10% 10%;
    height: auto;
    width: auto;
    background-color: aliceblue;
}
.footer{
    color: aliceblue;
    text-align: right;
}
*/

